* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: 'Indie Flower', cursive;
    /* font-family: 'Nova Square', sans-serif; */
    cursor: url("../img/crowCursor.png"), auto;
}

.blackBg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.44)), url("../img/number-four-hands-the-umbrella-academy-3bn8s7sj4trh8s9t.webp");
    background-size: cover;
    background-position-y: -800px;
    height: 100vw;
    width: 100vw;
    color: white;
    padding-top: 150px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    width: 5rem;
    height: 2rem;
    font-weight: bolder;
    --clr: rgb(255, 17, 57);
    --outline: 2px solid rgb(255, 17, 57);
    color: var(--clr);
    outline: var(--outline);
    border: var(--outline);
    outline-offset: -2px;
    transition: outline-width 200ms ease, outline-offset 200ms ease;
}

.btn:hover,
.btn:focus {
    outline: var(--outline);
    outline-width: 8px;
    outline-offset: -8px;
    /* // because of normalize */
}

.score {
    display: none;
}

.jeu {
    display: none;
    /* flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px */
}

.row {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.col {
    border: 2px solid rgb(255, 0, 0);
    height: 300px;
    width: 220px;
    gap: 20px;
    position: relative;
    transform-style: preserve-3d;
    box-shadow: 3px 2px 0 rgba(0, 0, 0, .3);
    transform: scale(1);
}

.col:active {
    transform: scale(0.97);
    transition: transform .2s;
}


.col .backImg {

    height: 300px;
    width: 220px;
    display: block;
}

.col .frontImg {

    height: 300px;
    width: 220px;
    display: none;
}

.score {
    display: none;
}

/* .red {
    opacity: 10;
    /* background-color: red;
    height: 400px;
    width: 300px;
    display: block; */
/* } */