*{
    margin: 0;
    padding: 0;
}
body{
    background-size: cover;
    height: 100vh;
}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.jeu {
    display: none;
    /* flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px */
}

.row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.col {
    border: 1px solid rgb(255, 0, 0);
    height: 400px;
    width: 300px;
    gap: 20px;
}

.col .backImg {
    height: 400px;
    width: 300px;
    display:block;
}
.col .frontImg {
    height: 400px;
    width: 300px;
    display: none;
}

.red{
    opacity: 10;
    /* background-color: red;
    height: 400px;
    width: 300px;
    display: block; */
}